@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Work Sans', sans-serif;
  background: #ffffff;
  /* padding: 30px 0px 0 30px; */
    /* padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 140px; */
    margin: 0;
    padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1em;
  text-rendering: optimizeLegibility;
  /* text-align: left; */
  /* min-width: 275px;
  max-width: 970px; */
  text-decoration: none;
  width: 100%;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.material-icons.light { 
    color: rgba(255, 255, 255, 1); 
    font-size: 24px;
    display: block;
    text-shadow: 0 1px 0 black;
}

#main-header {
  text-decoration: none;
  /* background: transparent;  */
  padding: 20px 0;
  width: 100%;
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: header-anim 1s ease-in-out; */
}

#logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  padding: 20px 10px;
  vertical-align: middle;
  text-align: left;
  display: table-cell;
  white-space: nowrap;
  text-decoration: bold;
  position: absolute;
 
}

#logo a {

    text-align: left;
    white-space: nowrap;
    text-decoration: bold;
   
  }
  

#headerNav {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  display: table-cell;
  padding:20px 10px;
  width: 100%;
  text-align: right;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  background-color: rgba(102, 98, 98, 0.342);
}

#headerNav a {
    color: white;
    padding: 1%;
    padding-right: 30px;
    text-decoration: none;
    /* text-transform: uppercase; */
    text-shadow: 0 1px 0 black;
    font-size: 17px;
    text-align: left;
    letter-spacing: 0.5px;
    
}

#headerMobileNav {
  display: table-cell;
  text-align: right;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  margin-left: 80%;
  
}

#links {
    display: none;
    background-color: rgba(59, 53, 53, 0.61);
    overflow: hidden;
    position: fixed;
    
}

#links a {
    color: white;
    transition: 0.5s;
    
}



#imagebackground {
    background-image: url("images/alleyhouse2-large.jpg");

    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position-y: -340px ;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

#container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  left: 0px;
} 

#image-table {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100%;
}

img {
  padding: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

@media screen and (max-width: 800px) {
    #headerNav {
      display: none;
    }

    #headerMobileNav {
      display: table-cell;
    }

    #headerMobileNav a {
        padding: 10px 16px;
        display: block;
       
    }
}

@media screen and (min-width: 799px) {
  #headerMobileNav {
    display: none;
  }
}

@media (min-width: 200px) {
  #i1, #i2, #i3, #i4, #i5 {
    width: 85%;
    height: auto;
  }
}

@media (min-width: 800px) {
  #i1,  {
    width: 100%;
    height: auto;
  }

  #i2, #i3, #i4 {
    width: 33.3333%;
    height: auto;
  }

  #i5 {
    width: 100%;
    height: auto;
  }
}




/* 
#list-element a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

#list-element a:hover, a:active  {
 -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

#container {
  padding-top: 60px;
  padding-left: 20px;
  margin: 0px;
  left: 0px;
  -webkit-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
  animation: fadeLeft 1s 1 cubic-bezier(0.77, 0, 0.175, 1);
} 
  @keyframes fadeLeft {
    from {
      margin-left: -10px;
      opacity: 0;
   }
   to {
      margin-left: 0px;
      opacity: 1;
   }
  }
  @-moz-keyframes fadeLeft {
      from {
         margin-left: -10px;
         opacity: 0;
      }
      to {
         margin-left: 0px;
         opacity: 1;
      }
   }
   @-webkit-keyframes fadeLeft {
      from {
         margin-left: -10px;
         opacity: 0;
      }
      to {
         margin-left: 0px;
         opacity: 1;
      }
    }

.divTable {
  display: table;         
  width: auto;         
  background-color: white;         
  border: 0px;         
  border-spacing: 5px; 
}

.divTableRow {
  display: table-row;
  width: auto;
  clear: both;
  background-color: white;
}

.divTableCell {
  display: table-cell;
  float: left;        
  width: 200px;         
  background-color: white;  
  transition: 0.5s;
  opacity: 1;
}

.image {
  transition: box-shadow 0.3s;
}

.image:hover {
  box-shadow: 0px 5px 8px #888888;
}
*/